<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction-Management</title>
</head>
<body>
    <h1>Auction-Management</h1>


    <form action="/signin" method="post">
        <input type="email" name="name" placeholder="Email" required>
        <input type="password" placeholder="Password">
        <button type="submit">Sign in</button>
    </form>

    <form action="/signup" method="post">
        <input type="text" placeholder="Username">
        <input type="email" name="name" placeholder="Email" required>
        <input type="password" placeholder="Password">
        <button type="submit">Sign in</button>
    </form>


</body>
</html>